a {
  text-decoration: none;
}

nav {
  padding-left: 10vw;
  padding-right: 10vw;
  background: var(--primary-color);

  a {
    color: var(--dark-color);
  }

  a:first-child {
    margin-right: 15px;
  }
}

main {
  padding-top: 30px;
}
